#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    flex-shrink: 0;
    height: auto;
  }
  
  *{user-select: none}
  
  html{
  
  }
  
  body{ 
    user-select: text;
    // scroll-behavior: smooth;
    margin: 0;
    min-height: 100vh;
    font-family: "Halvar";
  }
  
  nav {
    padding: 30px;
  
    a {
      font-weight: bold;
      color: #2c3e50;
  
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
  /* Указываем box sizing */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Убираем внутренние отступы */
  ul[class],
  ol[class] {
    padding: 0;
  }
  
  /* Убираем внешние отступы */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0 default;
    text-align: left;
  }
  ul, li {
    list-style: none;
  }

  h2, p{
    margin: 0;
  }
  
  /* Выставляем основные настройки по-умолчанию для body */
  body {
    height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
  }
  
  /* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
  ul[class],
  ol[class] {
    list-style: none;
  }
  
  a{
    color: inherit;
    text-decoration: none;
    &:focus-visible{
      outline: none;
    }
  }
  
  /* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  /* Упрощаем работу с изображениями */
  img {
    display: block;
  }
  button{
    border: none;
    box-shadow: none;
    outline: none !important;
  }
  
  *{
    line-height: 1em;
    input {
       -webkit-user-select:text;
    }
  }
  
  /* Указываем понятную периодичность в потоке данных у article*/
  article > * + * {
    margin-top: 1em;
  }
  
  /* Наследуем шрифты для инпутов и кнопок */
  input,
  button,
  textarea,
  select {
    border: inherit;
    // font: inherit;
    // border: none;
  }
  input {
    &:focus-visible {
      outline: none;
      outline-offset: 0;
      // border: inherit;
      outline-width: 0;
    }
  }

  @mixin scrollbar($color: #949494) {
    scrollbar-width: thin;
    &::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
    }
    &::-webkit-scrollbar-track {
    background: rgba($color, 0.3);
    }
    &::-webkit-scrollbar-thumb {
    background-color: rgba($color, 0.4); /* цвет плашки */
    border-radius: 10px; /* закругления плашки */
    }
}